/* 
Reset
*/
    /* 
    Set CSS variables 
    */
        :root{
            --main-color: #427cac;
            --dark-color: #373A36;
            --grey-color: #E6E2DD;

            --max-width: 80rem;

            --max-marge: 7rem;
            --med-marge: 3.5rem;
            --min-marge: 1.5rem;
            --light-marge: .8rem;
        }
    /**/

    
    /* 
    Set up all tags
    */
        *{
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
        }
    /**/

    /* 
    Set up titles 
    */
        h1, h2, h3, h4, h5, h6 {
            letter-spacing: 0;
            line-height: 1;
        }

        h1{
            color: var(--main-color);
            font-weight: 900;
        }

        h2 { 
            font-size: 3rem 
        }

        h3 { 
            font-size: 2.3rem 
        }

        h4 { 
            font-size: 1.8rem 
        }
    /**/

    /* 
    Set up links and buttons 
    */
        a{ 
            font-weight: 900;
            color: inherit 
        }

        a:hover{ 
            color: var(--main-color)
        }

        .active{
            color: var(--main-color);
            text-decoration: underline;
        }

        .moreAbout{
            font-size: 1.2rem;
            line-height: 1;
            text-transform: uppercase;
            border: .1rem solid black;
            padding: .5rem;
            display: inline-block;
            margin-top: 1rem;
        }

        .moreAbout:hover{
            border-color: var(--main-color);
        }

        .button, button, input[type='button'], input[type='reset'], input[type='submit']{
            background-color: var(--dark-color);
            border-color: var(--dark-color);
            color: white;

            
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;
        }

        .button:focus, .button:hover, button:focus, button:hover, input[type='button']:focus, input[type='button']:hover, input[type='reset']:focus, input[type='reset']:hover, input[type='submit']:focus, input[type='submit']:hover{
            background-color: var(--main-color);
            border-color: var(--main-color);
            
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }

        .iconeButton {
            width: auto;
            padding: .7rem 1rem!important;
            margin: 0;
            line-height: 1;
            font-size: 2rem;
        }

        .cover + p{
            font-size: 1.3rem;
            margin-bottom: var(--med-marge);
            padding-bottom: var(--light-marge);
            border-bottom: .5rem solid var(--grey-color);
        }
    /**/
/**/


/* 
Commons
*/
    header{
        margin-top: var(--med-marge) !important;
    }

    header ul{
        margin-bottom: 0%;
    }

    header a{
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    footer{
        font-size: 1.1rem;
        line-height: 3;
        text-transform: uppercase;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
    }

    section{
        margin-bottom: var(--max-marge);
    }

    article{
        margin-bottom: var(--med-marge);
    }


    .maxWidth{
        max-width: var(--max-width);
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0 var(--med-marge);
    }

    .flexBox{
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex;
        display: flex;

        list-style: none;
    }

    .flexBox > li{
        list-style: none;
        margin-right: var(--min-marge);
    }

    .flexWarp{
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .flexCenter, .centerFlex{
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;

        -webkit-align-items: center;
        -moz-align-items: center;
        -o-align-items: center;
        -ms-align-items: center;
        align-items: center;

        margin: auto
    }

    .flexAlignTop{
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        -o-align-items: flex-start;
        -ms-align-items: flex-start;
        align-items: flex-start;
    }

    .spaceBetween{
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -o-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }

    .flexColumn{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .flexColumn > *{
        margin: auto;
    }

    .col2 > *{
        width: calc(50% - var(--min-marge));
    }

    .col3 > *{
        width: calc(33.333% - var(--min-marge));
    }

    a, button, #fullMap::after, #fullMap::before, .transitionAll{
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }

    .borderRadius{
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
/**/

/* 
Socket.io
*/
    #socketMessagesList{
        list-style: none;
    }

    #socketMessagesList li:not(:last-child){
        border-bottom: .2rem solid var(--grey-color);
    }

    .socketMessage{
        margin-bottom: 0;
    }

    .socketMessage + p{
        font-size: 1.1rem;
    }
/**/

/* 
Media queries
Optional if you whant to define specifi styles for tablette and desktop
*/
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) { }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  }
/**/